.btn {
    @include btn();
    @include transition($btn-transition);
}

.btn-secondary {
  @include btn-secondary;
  background-color: $brand-secondary;
  border: none;
}

.btn-red {
  @include btn-secondary;
  background-color: $brand-danger;
  border: none;
}
